body { margin:0; overflow:hidden; background:black; }

#hud {
position:absolute;
top:10px;
left:10px;
color:white;
font-family:Arial;
font-size:18px;
}

#joystick {
position:absolute;
bottom:20px;
left:20px;
width:110px;
height:110px;
background:rgba(255,255,255,0.1);
border-radius:50%;
touch-action:none;
}

#fireBtn {
position:absolute;
bottom:40px;
right:40px;
width:70px;
height:70px;
background:red;
border-radius:50%;
}

#camBtn {
position:absolute;
top:20px;
right:20px;
padding:10px;
background:white;
border:none;
}